@using PagedList;
@using PagedList.Mvc;
@model ClienteViewModel
@{
    ViewBag.Title = "Index";
}
<br />
<h1>Relação de endereço</h1>
<br />
@* <hr />
<div class="teste">
    @using (Html.BeginForm("Search", "Endereco", FormMethod.Get))
    {
        @Html.Label("Endereco", "Endereco")
        <input type="text" name="nome" />
        <input type="submit" name="submit" value="Procurar" class="btn btn-outline-info" />
    }
</div>
<hr /> *@
<div class="row">
    <table class="table">
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logradouros)
            </th>            
            <th>

            </th>
        </tr>
        @foreach (var item in Model.Logradouros)
        {
            <tr>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new {@class = "btn btn-outline-success btn-sm"}) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id}, new {@class = "btn btn-outline-primary btn-sm"}) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id, clienteId = item.ClienteId}, new { onclick = "return confirm('Deseja realmente deletar este endereço ?');", @class = "btn btn-outline-danger btn-sm" })
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.Logradouro)
                </td>
            </tr>
        }
    </table>    
</div>
<hr />
<div class="teste1">
    <a asp-controller="Cliente" asp-action="Index" class="btn btn-outline-warning">Voltar</a>
    @Html.ActionLink("Novo Endereço", "Create", new { id = Model.Id }, new{@class="btn btn-outline-secondary"})
</div>
