@model ClienteViewModel

@{
    ViewData["Title"] = "Details";
}
<br />
<h1>Details</h1>

<div class="col-md-4 offset-md-4">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logotipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logotipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>   
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouros[0].Logradouro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logradouros[0].Logradouro)
        </dd>
    </dl>
    <div class="teste">
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id  }, new{@class="btn btn-outline-primary"})
        <a asp-action="Index" class="btn btn-outline-warning">Voltar</a>
    </div>
</div>

