@model IEnumerable<ClienteViewModel>

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logotipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logradouros)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new {@class = "btn btn-outline-success btn-sm"}) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id}, new {@class = "btn btn-outline-primary btn-sm"}) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id}, new { onclick = "return confirm('Deseja realmente deletar este contato ?');", @class = "btn btn-outline-danger btn-sm" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Logotipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Logradouros[0].Logradouro)
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />
<div class="teste1">
    <a asp-action="Index" class="btn btn-outline-warning">Voltar</a>
    <a type="button" asp-action="Create" class="btn btn-outline-secondary">Novo Contato</a>
</div>
